@page "/"

<PageTitle>Сводная информация системы</PageTitle>

<div class="container">
    <div class="row">
        <div class="card1">
            <p class="p_white">Все контракты</p>
            <p class="p_white">56</p>
        </div>
        <div class="card2">
            <p class="p_white">В работе всего</p>
            <p class="p_white">25</p>
        </div>
        <div class="card3">
            <p class="p_white">Работы сданы </p>
            <p class="p_white">12</p>
        </div
        <div class="card4">
            <p class="p_white">Проблемные</p>
            <p class="p_white">3</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="Statistic1 fon">

        </div>
        <div class="Statistic2 fon">

        </div>
     </div>
</div>

<div class="container">
    <div class="row">
        <div class="Statistic3 fon">

        </div>
    </div>
</div>

