<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><h2>OVERS</h2>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Сводка
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="processes">
                <span class="oi " aria-hidden="true"></span> Процессы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="processcrud">
                <span class="oi " aria-hidden="true"></span> Календарь
            </NavLink>
        </div>
		 <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
			    <span class="oi " aria-hidden="true"></span> Проекты
            </NavLink>
		</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="creators">
			    <span class="oi " aria-hidden="true"></span> Исполнители
            </NavLink>
		</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="departments">
                <span class="oi " aria-hidden="true"></span> Департаменты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resourses">
                <span class="oi " aria-hidden="true"></span> Ресурсы и склад
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
			    <span class="oi " aria-hidden="true"></span> Пользователи
            </NavLink>
		</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="oi " aria-hidden="true"></span> Отчеты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="oi " aria-hidden="true"></span> Сервисы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi " aria-hidden="true"></span> Настройки
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
