

<div>
    <div class="Node">
        <div>
            <div class="pProcessName"><p>ProcessName</p></div>
            <div class="pProcessLine"><p><hr style="width:50%;text-align:left;margin-left:0"></p></div>
            <div class="pProcessPercent"><p>15%</p></div>
            <div class="circle"></div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "Default Title";
}
